CustomerDetailsWithOrderId.cshtml-

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Details with Order ID 10248</title>
</head>
<body>
    <div>
        <h2>Customer Details with Order ID 10248</h2>
        <table>
            <tr>
                <th>Customer ID</th>
                <th>Company Name</th>
                <!-- Add other required columns -->
            </tr>
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
                <!-- Add other required columns -->
            </tr>
        </table>
    </div>
</body>
</html>


